<div class="container-fluid p-5 h-100 d-flex flex-column justify-content-center align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Credit History</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each creditRequests}}
                <tr>
                    <td>{{amount}}</td>
                    <td>{{description}}</td>
                    <td>{{creditHistory}}</td>
                    <td>
                        <a href="/api/v1/home/credit-requests/{{userId}}"><i class="fa fa-pencil"
                                aria-hidden="true"></i></a>
                        <form action="/api/v1/home/credit-requests/{{userId}}?_method=DELETE" method="POST"
                            class="d-inline">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <div class="position-absolute bottom-10 start-50 translate-middle-x">
            <a href="/api/v1/home/" class="btn btn-primary" role="button">Regresar</a>
        </div>
</div>