<div class="container-fluid p-5 h-100 d-flex flex-column justify-content-center align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Monto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Historial Crediticio</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Decisión</th>
                </tr>
            </thead>
            <tbody>
                {{#each allCreditRequests}}
                <tr>
                    <td class="align-middle">{{amount}}</td>
                    <td>{{description}}</td>
                    <td>{{creditHistory}}</td>
                    <td>
                        <a href="/api/v1/home/credit-requests/update/{{userId}}"><i class="fa fa-pencil"
                                aria-hidden="true"></i></a>
                        <form action="/api/v1/home/credit-requests/{{userId}}?_method=DELETE" method="POST"
                            class="d-inline">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                    <td class="align-middle">{{#if completed}}
                        <i class="fa fa-check-square fa-2x" aria-hidden="true"></i>
                        {{else}}
                        <i class="fa fa-hourglass-start fa-2x" aria-hidden="true"></i>
                        {{/if}}
                    </td>
                    <td class="align-middle">{{#if completed}}
                        <a href="/api/v1/home/credit-requests/decision/{{userId}}" class="disabled-link">
                            <i class="fa fa-folder fa-2x"aria-hidden="true"></i>
                        </a>
                        {{else}}
                        <a href="/api/v1/home/credit-requests/decision/{{userId}}">
                            <i class="fa fa-folder fa-2x"aria-hidden="true"></i>
                        </a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <div class="position-absolute bottom-10 start-50 translate-middle-x">
            <a href="/api/v1/home/" class="btn btn-primary" role="button">Regresar</a>
        </div>
</div>